@model WebApp.Models.Events.EventDetailsViewVm

<!DOCTYPE html>

@{
    ViewData["Title"] = "Index";
}

<h3>Osavõtjad</h3>

<table class="table table-borderless w-50">
    <tbody>
    <tr>

        <td>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <td>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </td>
    </tr>
    <tr>

        <td>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date):
        </dt>
        <td>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
        </td>
    </tr>
    <tr>
        <td>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location):
        </dt>
        <td>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
        </td>
    </tr>

    <td>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Participations)
    </dt>
    <td>

        @{
            System.Diagnostics.Debug.Assert(Model.Participations != null, "Model.Participations != null");
        }
        @if (Model.Participations.Count < 1)
        {
            <div>Ühtegi osavõtjat ei ole registreerunud!</div>
        }
        <table class="table table-borderless w-75">
            <tbody>
            @foreach (var item in Model.Participations!)
            {
                <tr>
                    <td>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.IndividualUser!.FullName)
                        </dd>
                    </td>
                    <td>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.IndividualUser!.IdentificationCode)
                        </dd>
                    </td>
                    <td>
                        <dd class="col-sm-10">
                            <a asp-controller="Events" asp-action="EventDetails" asp-route-id="@item.Id">Vaata</a>
                        </dd>
                    </td>
                    <td>
                        <dd class="col-sm-10">
                            <a asp-controller="Events" asp-action="EventDetails" asp-route-id="@item.Id">Kustuta</a>
                        </dd>
                    </td>

                </tr>
            }
            @foreach (var item in Model.Participations!)
            {
                <tr>
                    <td>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.BusinessUser!.CompanyName)
                        </dd>
                    </td>
                    <td>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.BusinessUser!.RegistryCode)
                        </dd>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </td>

    </tbody>
</table>


<dl class="row">


</dl>

<td>
    <a asp-controller="Events" asp-action="EventDetails" asp-route-id="@item.Id">Osalejad</a>
</td>