@model WebApp.Models.Events.EventDetailsViewVm


<div class="container h-auto ps-0 pb-4">
    <div class="row g-0">
        <div class="col col-blue fs-4 lh-2 d-flex flex-column min-vh-50 justify-content-center align-items-center">
            <h3 >@Model.Name informatsioon</h3>
        </div>
        <div class="col-8">
            <img class="img-fluid w-100 h-20 d-inline-block" src="~/images/libled.jpg" alt="Photo"/>
        </div>
    </div>
</div>

<table class="table table-borderless w-50">
    <tbody>
    <tr>

        <td>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <td>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </td>
    </tr>
    <tr>

        <td>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date):
        </dt>
        <td>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
        </td>
    </tr>
    <tr>
        <td>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location):
        </dt>
        <td>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
        </td>
    </tr>

    <td>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Participations)
    </dt>
    <td>


        @if (Model.Participations!.Count < 1)
        {
            <div>Ühtegi osavõtjat ei ole registreerunud!</div>
        }
        <table class="table table-borderless">
            <tbody>
            @foreach (var item in Model.Participations!)
            {
                @if (item.IndividualUser != null)
                {
                    <tr>
                        <td>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.IndividualUser!.FullName)
                            </dd>
                        </td>
                        <td>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.IndividualUser!.IdentificationCode)
                            </dd>
                        </td>
                        @if (Model.Date > DateTime.Today)
                        {
                            <td>
                                <dd class="col-sm-10">
                                    <a asp-controller="Participations" asp-action="CreateEdit" asp-route-id="@item.Id" asp-route-user="@item.IndividualUser.Id" asp-route-eventId="@Model.Id">Vaata/Muuda</a>
                                </dd>
                            </td>
                            <td>
                                <dd class="col-sm-10">
                                    <a asp-controller="Participations" asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
                                </dd>
                            </td>
                        }
                    </tr>
                }
            }
            @foreach (var item in Model.Participations!)
            {
                @if (item.BusinessUser != null)
                {
                    <tr>
                        <td>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.BusinessUser!.CompanyName)
                            </dd>
                        </td>
                        <td>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.BusinessUser!.RegistryCode)
                            </dd>
                        </td>
                        @if (Model.Date > DateTime.Today)
                        {
                            <td>
                                <dd class="col-sm-10">
                                    <a asp-controller="Participations" asp-action="CreateEdit" asp-route-id="@item.Id" asp-route-user="@item.BusinessUser.Id" asp-route-eventId="@Model.Id" asp-route-bu="true">Vaata/Muuda</a>
                                </dd>
                            </td>
                            <td>
                                <dd class="col-sm-10">
                                    <a asp-controller="Participations" asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
                                </dd>
                            </td>
                        }
                    </tr>
                }
            }
            </tbody>
        </table>
    </td>

    </tbody>
</table>
@if (Model.Date > DateTime.Today)
{
    <td>
        <h5>
            <p class="lead">
                <a class="float-left text-decoration-none ms-2 mt-3 mb-2" asp-controller="Participations" asp-action="CreateEdit" asp-route-eventId="@Model.Id">Lisa eraisik</a>
                <a class="text-decoration-none ms-5 mt-3 mb-5" asp-controller="Participations" asp-action="CreateEdit" asp-route-eventId="@Model.Id" asp-route-bu="true">Lisa ettevõte</a>
            </p>
        </h5>
    </td>
}
<dl class="row">


</dl>